# MongoDB
MONGODB_URI="mongodb://localhost:27017/projectname"

# Config
NODE_ENV="stagename"
FRONTEND_CMS_URL="http://localhost:3000"  # Render.com url - required in Vercel
NEXT_PUBLIC_API_URL="http://localhost:3001"  # Vercel url - required in  Render.com

# Firebase Dev Vars
NEXT_PUBLIC_FIREBASE_PROJECT_ID="projectname-stage-123456"
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDK69RP9qxhJvpWk4809r0-123456"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="projectname-stage-123456.firebaseapp.com"
FIREBASE_CLIENT_EMAIL="firebase-123456-fbsvc@projectname-stage-123456.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n123456---verylong-private-key+WT14kMaAvTVApsTGUw2gM\n1w7K3qFqJS77Bi9gdaBTSvk=\n-----END PRIVATE KEY-----\n"

# Resend
RESEND_API_KEY="re_123456api"
RESEND_FROM="no-reply@example.com"
