# Database Connection (Required for both frontend and backend)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=keystone

# Frontend Configuration (Required for Vercel deployment)
NEXT_PUBLIC_API_URL=https://your-backend-service.onrender.com

# Development Configuration
NODE_ENV=development

# Auth config
COGNITO_USER_POOL_ID=us-east-1_123456
COGNITO_CLIENT_ID=123321abcd
COGNITO_CLIENT_SECRET=123321abcd
COGNITO_DOMAIN=keystone-development-auth-url
AWS_REGION=us-east-1